<div class="container">
  <h1>Produits</h1>
  <form (ngSubmit)="addProduct()" class="product-form">
    <mat-form-field appearance="outline">
      <mat-label>Nouveau produit</mat-label>
      <input matInput [(ngModel)]="newProductTitle" name="product" placeholder="New product" required />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Ajouter un Produit</button>
  </form>
  <mat-list>
    <mat-list-item *ngFor="let product of products">
      <mat-checkbox [(ngModel)]="product.id" (change)="updateProduct(product)"></mat-checkbox>
      <span mat-line>{{ product.title }} ({{ product.count }})</span>
      <button mat-icon-button color="warn" (click)="deleteProduct(product)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-raised-button color="accent" (click)="buyProduct(product)" [disabled]="product.count <= 0">
        Acheter
      </button>
    </mat-list-item>
  </mat-list>
</div>

